@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0b2433;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #548683;
    width: 100%;
    height: 90px;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

p {
    font-size: 30px;
}

h1 {
    font-size: 65px;
}

.section {
    width: 425px;
    height: 600px;
    background-color: #548683;
    border-radius: 15px;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.rollPage {
    justify-items: center;
    margin-top: 15%;
}

.mainPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.timer {
    background-color: #f1d089;
    width: 380px;
    height: 450px;
    border-radius: 20px;
    justify-items: center;
    color: white;
    transition-duration: 0.4s;
}

/*
.timer:hover {
    box-shadow: 0 0 0 0 #ededed, 0 0 10px 0 #ededed;
}
*/

.die {
    position: relative;
}

/*
.hButton {
    background-color: #b3c6c4;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    transition-duration: 0.4s;
    color: white;
}

.hButton:hover {
    background-color: #2546d1;
}
*/
